In [15]:
import pandas as pd

df = pd.read_csv("data_file1.csv")
df.head()

,Month,Groceries (₹),Rent (₹),Transportation (₹),Gym (₹),Utilities (₹),Healthcare (₹),Investments (₹),Savings (₹),EMI/Loans (₹),Dining & Entertainment (₹),Shopping & Wants (₹),Total Expenditure (₹),Income (₹)
0,2020-01-01,4860,10000,2595,888,1520,1930,4311,4232,0,3138,1121,30363,40000
1,2020-02-01,6135,10000,2371,851,1630,1923,5939,7329,0,3185,2332,34366,40000
2,2020-03-01,6853,10000,2715,1143,1776,1185,4700,3625,0,2684,1459,32515,36000
3,2020-04-01,6904,10000,2582,869,1975,1274,4420,6426,0,2475,2806,33305,36000
4,2020-05-01,4562,10000,3028,830,1984,1631,4410,3647,0,2146,1020,29611,36000

In [18]:
For First customer 

P = 4232
PMT = 2000
r = 0.06
t = 1
n = 12
A = P * (1 + r/n) ** (n*t) + PMT * (((1 + r/n)**(n*t) - 1) /(r/n))
print( f"estimated investment value after {t} year(s) : ${A:,.2f}")

estimated investment value after 1 year(s) : $29,164.15

In [20]:
Second customer

P = 5939
PMT = 2000
r = 0.06
t = 1
n = 12
A = P * (1 + r/n) ** (n*t) + PMT * (((1 + r/n)**(n*t) - 1) /(r/n))
print( f"estimated investment value after {t} year(s) : ${A:,.2f}")

estimated investment value after 1 year(s) : $30,976.43

In [21]:
Third Customer 

P = 4700
PMT = 2000
r = 0.06
t = 1
n = 12
A = P * (1 + r/n) ** (n*t) + PMT * (((1 + r/n)**(n*t) - 1) /(r/n))
print( f"estimated investment value after {t} year(s) : ${A:,.2f}")

estimated investment value after 1 year(s) : $29,661.01

In [22]:
Fourth Customer 
P = 4420
PMT = 2000
r = 0.06
t = 1
n = 12
A = P * (1 + r/n) ** (n*t) + PMT * (((1 + r/n)**(n*t) - 1) /(r/n))
print( f"estimated investment value after {t} year(s) : ${A:,.2f}")

estimated investment value after 1 year(s) : $29,363.74

In [23]:
Last Customer 

P = 4410
PMT = 2000
r = 0.06
t = 1
n = 12
A = P * (1 + r/n) ** (n*t) + PMT * (((1 + r/n)**(n*t) - 1) /(r/n))
print( f"estimated investment value after {t} year(s) : ${A:,.2f}")

estimated investment value after 1 year(s) : $29,353.12

In [ ]:
Data shows at an estimated investment return over 12 months,  with an annual interest rate of 6% and different principal investments.
Principal(1+ R)